<div class="overflow-x-auto gap-2 px-1 lg:px-[9%] h-100px bg-white flex justify-between items-center py-2 ">
    <nav class="flex items-center gap-4 text-sm">
        <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2 4.5c0-.28.22-.5.5-.5h15a.5.5 0 010 1h-15a.5.5 0 01-.5-.5zm0 5c0-.28.22-.5.5-.5h15a.5.5 0 010 1h-15a.5.5 0 01-.5-.5zm.5 4.5a.5.5 0 000 1h15a.5.5 0 000-1h-15z"></path></svg>

        <div class="flex gap-1 border w-fit p-[8px] rounded-xl hover:bg-[#f1f1f1] transition duration-300">
            <a href="">Discover</a>
            <a href="">Following</a>
        </div>
        <span class="flex gap-4">
            <a routerLink="/news" routerLinkActive="text-[#7ca1df] font-bold" class="hover:text-[#4ca3c5] hover:font-bold">News</a>
            <a routerLink="/entertainment" routerLinkActive="text-[#7ca1df] font-bold" class="hover:text-[#4ca3c5] hover:font-bold">Entertainment</a>
            <a routerLink="/health" routerLinkActive="text-[#7ca1df] font-bold" class="hover:text-[#4ca3c5] hover:font-bold">Health</a>
            <a routerLink="/lifestyle" routerLinkActive="text-[#7ca1df] font-bold" class="hover:text-[#4ca3c5] hover:font-bold">lifestyle</a>
            <a routerLink="/autos" routerLinkActive="text-[#7ca1df] font-bold" class="hover:text-[#4ca3c5] hover:font-bold">Autos</a>
        </span>
    </nav>
    <a routerLink="/personalize" class="border align-middle p-[10px] rounded-3xl text-sm flex items-center gap-2 hover:bg-[#f1f1f1] transition duration-300"><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.9 2.9a1 1 0 00-1.8 0L7.17 6.8l-4.31.63a1 1 0 00-.56 1.7l3.13 3.05-.74 4.3a1 1 0 001.45 1.05l3.43-1.8c.16-.4.4-.76.7-1.07l.1-.09a1 1 0 00-.83.05l-3.87 2.03.74-4.3a1 1 0 00-.29-.89L3 8.43l4.32-.63a1 1 0 00.75-.55L10 3.35l1.93 3.9c.15.3.43.5.75.55l4.32.63-.72.7c.48-.15 1-.17 1.49-.06a1 1 0 00-.63-1.63l-4.31-.63L10.9 2.9zm4.9 7.65l-4.82 4.83a2.2 2.2 0 00-.58 1.02l-.37 1.5a.89.89 0 001.08 1.07l1.5-.37c.38-.1.73-.3 1.01-.58l4.83-4.83a1.87 1.87 0 00-2.64-2.64z"></path></svg>  Personalize</a>

</div>