<div class="w-full h-fit p-4 xl:h-fit">
  <div
    class="h-fit flex flex-col gap-4 border rounded-lg shadow-md p-4 bg-white lg:h-full"
  >
    <div class="w-full flex flex-col gap-1">
      <div class="flex justify-between">
        <button class="text-left ml-1 mb-1" routerLink="/news">
          <i class="fa-solid fa-arrow-left fa-lg"></i>
        </button>
        <p class="text-sm text-grey-500 text-right">
          {{ formatDate(article?.createdAt) }}
        </p>
      </div>
      <h2 class="text-xl xl:text-5xl font-bold mb-2">{{ article?.title }}</h2>
      <img
        [src]="article?.image"
        alt=""
        class="h-52 w-full object-fill m-2 border shadow-md rounded-xl p-4 md:object-contain md:shadow-none"
      />
    </div>
    <!-- <p class="text-gray-700 mb-2 text-xl text-justify">{{ article?.description }}</p> -->
    <div
      class="font-semibold text-justify flex flex-col gap-2"
      [innerHTML]="article?.description"
    ></div>
  </div>
</div>
