<div class="bg-[#f1efef] m-auto h-screen flex flex-col overflow-y-auto">
  <div class="w-full fixed z-10">
    <app-navbar></app-navbar>
  </div>
  <div class="px-0 lg:px-[8%] lg:flex h-full">
    <div
      *ngIf="sidebarVisible"
      class="fixed inset-0 bg-black bg-opacity-40 z-40 lg:hidden"
      (click)="toggleSidebar()"
    ></div>

    <app-sidebar
      *ngIf="sidebarVisible"
      class="fixed top-[60px] left-0 z-50 w-fit h-full bg-black bg-opacity-40 shadow-lg lg:hidden"
    >
    </app-sidebar>

    <app-sidebar *ngIf="largeSidebarVisible"
      class="hidden lg:block lg:w-[40%] mt-[50px] xl:block xl:w-[20%]"
    ></app-sidebar>

    <div *ngIf="!largeSidebarVisible" class="w-[10%]"><p>hello</p></div>

    <div class="w-full h-full mt-[40px] lg:mt-[55px] xl:block xl:w-[50%] p-2">
      <router-outlet></router-outlet>
    </div>

    <app-subscription-card
      class="hidden w-0 xl:block xl:w-[30%] px-4 mt-[45px] ml-8"
    ></app-subscription-card>
  </div>
  <button
    *ngIf="toggleVisible"
    class="fixed bottom-6 w-fit left-4 bg-[#4ca3c5] rounded-3xl p-2 lg:hidden"
    (click)="toggleSidebar()"
  >
    <svg
      width="32"
      height="32"
      viewBox="0 0 32 32"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M9.5 16a2.5 2.5 0 11-5 0 2.5 2.5 0 015 0zm9 0a2.5 2.5 0 11-5 0 2.5 2.5 0 015 0zm6.5 2.5a2.5 2.5 0 100-5 2.5 2.5 0 000 5z"
      ></path>
    </svg>
  </button>
</div>
