<div
  class="bg-gradient-to-b from-[#e9f0fc] to-[#f4f8ff] rounded-xl pt-6 p-4 text-center shadow-lg fixed"
>
  <img src="assets/logo.png" alt="MSN Logo" class="mx-auto w-16 mb-2" />

  <h2 class="text-xl font-semibold text-gray-800">
    Get the top stories in your email
  </h2>
  <p class="text-sm text-gray-600 mt-1">Sign up for the MSN newsletter</p>

  <button
    class="mt-4 bg-[#0078D4] text-white px-6 py-2 rounded-full text-sm font-medium hover:bg-blue-700 transition"
  >
    Subscribe now
  </button>

  <div class="flex justify-center gap-2 mt-8">
    <div class="w-[100px] h-[120px] object-contain">
      <img src="assets/subscribe/surf.jpg" alt="" class="border" />
    </div>
    <div class="w-[100px] h-[120px] object-contain -mt-4">
      <img
        src="assets/subscribe/fashion.jpeg"
        alt=""
        class="h-full w-full object-contain"
      />
    </div>
    <div class="w-[100px] h-[120px] object-contain">
      <img src="assets/subscribe/mountain.jpeg" alt="" />
    </div>
  </div>
</div>
