<div class="h-full fixed">
  <div class="h-[30%] pb-2 p-4 flex items-end">
    <div class="w-full h-3/5 bg-white border rounded-lg">
      <div class="w-full flex flex-col justify-center items-center">
        <img
          src="assets/MSN.jpeg"
          alt="MSN"
          class="w-1/2 h-1/2 mt-[-25%] object-cover rounded-lg"
        />
        <h2 class="text-2xl font-bold">News</h2>
      </div>
    </div>
  </div>
  <div class="h-[60%] pt-1 p-4">
    <div
      class="h-full w-full bg-white border rounded-lg p-1 overflow-y-auto custom-scroll"
    >
      <div class="p-2">
        <p class="font-medium">Suggested publishers</p>
      </div>
      <div class="flex flex-col gap-2 px-2">
        <div class="flex gap-1 items-center justify-between">
          <div class="flex gap-2 items-center">
            <img
              src="assets/publishers/TOI.png"
              alt="alt"
              class="h-5 w-5 object-contain"
            />
            <p class="text-left text-sm">Times of India</p>
          </div>
          <img src="assets/PlusLight.svg" alt="" class="h-6 border p-1 hover:bg-[#eeecec] cursor-pointer">
           
        </div>

        <div class="flex gap-1 items-center justify-between">
          <div class="flex gap-2 items-center">
            <img
              src="assets/publishers/IndiaToday.png"
              alt="alt"
              class="h-5 w-5 object-contain"
            />
            <p class="text-left text-sm">India Today</p>
          </div>

          <img src="assets/PlusLight.svg" alt="" class="h-6 border p-1 hover:bg-[#eeecec] cursor-pointer">
        </div>

        <div class="flex gap-1 items-center justify-between">
          <div class="flex gap-2 items-center">
            <img
              src="assets/publishers/hindustanTimes.jpeg"
              alt="alt"
              class="h-5 w-5 object-contain"
            />
            <p class="text-left text-sm">Hindustan Times</p>
          </div>

          <img src="assets/PlusLight.svg" alt="" class="h-6 border p-1 hover:bg-[#eeecec] cursor-pointer">
        </div>

        <div class="flex gap-1 items-center justify-between">
          <div class="flex gap-2 items-center">
            <img
              src="assets/publishers/economictimes.jpeg"
              alt="alt"
              class="h-5 w-5 object-contain"
            />
            <p class="text-left text-sm">The Economic Times</p>
          </div>

          <img src="assets/PlusLight.svg" alt="" class="h-6 border p-1 hover:bg-[#eeecec] cursor-pointer">
        </div>

        <div class="flex gap-1 items-center justify-between">
          <div class="flex gap-2 items-center">
            <img
              src="assets/publishers/timesnow.jpeg"
              alt="alt"
              class="h-5 w-5 object-contain"
            />
            <p class="text-left text-sm">Times Now</p>
          </div>

          <img src="assets/PlusLight.svg" alt="" class="h-6 border p-1 hover:bg-[#eeecec] cursor-pointer">
        </div>
      </div>
      <div class="p-2">
        <button class="border px-2 py-1 rounded-sm">
          Browse all publishers
        </button>
      </div>
      <hr class="mb-1 m-2 border" />

      <div class="p-2">
        <p class="font-medium">Suggested topics</p>
      </div>

      <div class="flex flex-col gap-2 px-2">
        <div class="flex gap-1 items-center justify-between">
          <div class="flex gap-2 items-center">
            <img
              src="assets/topics/ai.jpeg"
              alt="alt"
              class="h-5 w-5 object-contain"
            />
            <p class="text-left text-sm">Artificial intelligence</p>
          </div>

          <img src="assets/PlusLight.svg" alt="" class="h-6 border p-1 hover:bg-[#eeecec] cursor-pointer">
        </div>

        <div class="flex gap-1 items-center justify-between">
          <div class="flex gap-2 items-center">
            <img
              src="assets/topics/stocks.jpeg"
              alt="alt"
              class="h-5 w-5 object-contain"
            />
            <p class="text-left text-sm">Stocks</p>
          </div>

          <img src="assets/PlusLight.svg" alt="" class="h-6 border p-1 hover:bg-[#eeecec] cursor-pointer">
        </div>

        <div class="flex gap-1 items-center justify-between">
          <div class="flex gap-2 items-center">
            <img
              src="assets/topics/stocks.jpeg"
              alt="alt"
              class="h-5 w-5 object-contain"
            />
            <p class="text-left text-sm">Stocks</p>
          </div>

          <img src="assets/PlusLight.svg" alt="" class="h-6 border p-1 hover:bg-[#eeecec] cursor-pointer">
        </div>

        <div class="flex gap-1 items-center justify-between">
          <div class="flex gap-2 items-center">
            <img
              src="assets/topics/stocks.jpeg"
              alt="alt"
              class="h-5 w-5 object-contain"
            />
            <p class="text-left text-sm">Stocks</p>
          </div>

          <img src="assets/PlusLight.svg" alt="" class="h-6 border p-1 hover:bg-[#eeecec] cursor-pointer">
        </div>

        <div class="flex gap-1 items-center justify-between">
          <div class="flex gap-2 items-center">
            <img
              src="assets/topics/stocks.jpeg"
              alt="alt"
              class="h-5 w-5 object-contain"
            />
            <p class="text-left text-sm">Stocks</p>
          </div>

          <img src="assets/PlusLight.svg" alt="" class="h-6 border p-1 hover:bg-[#eeecec] cursor-pointer">
        </div>
      </div>
    </div>
  </div>


</div>
